<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cajero</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form th:action="@{/}" th:object="${usuario}" method="post">
            <fieldset>
                <legend>Datos del usuario</legend>
                <h1>Cajero</h1>
                <table>
                    <tr>
                        <td><label th:text="#{form.user.id}">Id: </label></td>
                        <td><input type="number" th:field="*{id}" /></td>
                    </tr>
                    <tr>
                        <td><label th:text="#{form.user.nombre}">Nombre: </label></td>
                        <td><input type="text" th:field="*{nombre}" /></td>
                    </tr>

                    <tr>
                        <td><label th:text="#{form.user.telefono}">Telefono: </label></td>
                        <td><input type="text" th:field="*{telefono}" /></td>
                    </tr>
                    
                    <tr>
                        <td><label th:text="#{form.user.correo}">Correo: </label></td>
                        <td><input type="text" th:field="*{correo}" /></td>
                    </tr>
                    
                    <tr>
                        <td>
                            <button type="submit">Registrar...</button>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </body>
</html>